<section class="mt-5">
  <table class="table table-md mt-2 w-full">
    <thead>
    <tr>
      <th class="text-center">#</th>
      <th class="text-center">Código</th>
      <th class="text-center">Bandera</th>
      <th class="text-center">Nombre</th>
      <th class="text-center">Capital</th>
      <th class="text-center">Poblacion</th>
      <th class="text-center">Ver más</th>
    </tr>
    </thead>
    <tbody>
      @for(country of countries(); track country.cca2; let i = $index){
        <tr>
          <td class="text-center align-middle">{{i + 1}}</td>
          <td class="text-center align-middle">{{country.cca2}}</td>
          <td class="text-center align-middle"><img [src]="country.flags.png" [alt]="country.name" class="w-10 mx-auto"></td>
          <td class="text-center align-middle">{{country.name}}</td>
          <td class="text-center align-middle">{{country.capital}}</td>
          <td class="text-center align-middle"><span class="badge badge-sm badge-accent">{{country.population | number}}</span></td>
          <td class="text-center align-middle"> <a href="#" class="link link-warning">Más información</a></td>
        </tr>
      }
    </tbody>
  </table>
</section>
